body {
  margin: 0;
  background-color: #edefed;
  color: #565a5c;
  overflow-x: hidden;
  line-height: 1.43;
  font-family: Arial, sans-serif;
}

@media (min-width: 768px) {
  .content {
    height: 450px;
    padding-bottom: 150px;
    width: 100%;
  }
  .head {
    padding-top: 10px;
    font-size: 60px;
  }
  .head_content {
    font-size: 30px;
  }
  .para {
    width: 700px;
    padding: 30px 10px;
  }
  .para_content {
    font-size: 20px;
  }
  .para_footer {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .content {
    height: 450px;
    padding-bottom: 100px
  }
  .head {
    font-size: 40px;
  }
  .head_content {
    font-size: 20px;
  }
  .para {
    max-width: 100%;
    padding: 20px 10px;
  }
  .para_content {
    font-size: 18px;
  }
}

.content {
  background-image: url(../images/redirect.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: table;
}

.head_content {
  font-weight: 500;
}

.img_container {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.para {
  margin: auto;
  line-height: 150%;
  text-align: center;
}

.para_footer {
  text-align: center;
  color: white;
}

a {
  cursor: pointer;
  color: #355c7d;
  text-decoration: none;
}

.social_list li {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.social {
  text-align: center;
}

.fb {
  background-image: url(../images/facebook.png);
}

.li {
  background-image: url(../images/linkedin.png);
}

.git {
  background-image: url(../images/github.png);
}

.email {
  background-image: url(../images/email.png);
}

.social_icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

footer {
  height: auto;
  background-color: #2b2d2e;
  background-image: url(../images/footer.png);
  width: 100%;
  background-size: cover;
  margin: 0;
}

.para_footer a {
  color: white;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}